<script context="module">
	export function preload({ params, query }) {
		return this.fetch(`blog.json`).then(r => r.json()).then(posts => {
			return { posts };
		});
	}
</script>

<script>
	import { onMount } from 'svelte'

	export let posts;
	onMount(function(){
		setInterval(async () => {
			const resp = await fetch('/blog.json')
			posts = await resp.json()
		}, 1250)
	})
</script>

<style>
	ul {
		margin: 0 0 0 0;
		padding: 0;
		line-height: 1.5;
		list-style-type: none
	}
	li:nth-child(odd){
		background: #232323;
		padding: 10px;
	}
	li:nth-child(odd) a {
		color: white;
		text-decoration: none
	}
	li:nth-child(even){
		background: #dddddd;
		padding: 10px;
	}
	li:nth-child(even) a {
		color: #232323;
		font-weight: 500;
		text-decoration: none
	}
	a {
		font-size: 1.25em;
		/* font-family: Montserrat; */
	}
</style>

<svelte:head>
	<title>Blog</title>
</svelte:head>

<h1>My Blogs</h1>

<ul>
	{#each posts as post}
		<!-- we're using the non-standard `rel=prefetch` attribute to
				tell Sapper to load the data for the page as soon as
				the user hovers over the link or taps it, instead of
				waiting for the 'click' event -->
		<li><a rel='prefetch' href='blog/{post.slug}'>{post.title}</a></li>
	{/each}
</ul>