<script>
	export let segment;
</script>

<style>

</style>

<!-- <nav>
	<ul>
		<li><a class:selected='{segment === undefined}' href='.'>home</a></li>
		<li><a class:selected='{segment === "about"}' href='about'>about</a></li>

		<!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen ->
		<li><a rel=prefetch class:selected='{segment === "blog"}' href='blog'>blog</a></li>
	</ul>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href=".">Fashion Studio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" class:active='{segment === undefined}'>
				<a class="nav-link" href='.'>Home</a>
      </li>
      <li class="nav-item" class:active='{segment === 'about'}'>
				<a class="nav-link" href='about'>About</a>
      </li>
      <li class="nav-item" class:active='{segment === "blog"}'>
				<a class="nav-link" rel=prefetch href='blog'>Blog</a>
      </li>
    </ul>
  </div>
</nav>